.location {
  width: 230px;
  padding: 10px;
  margin: auto 1rem;
  margin-bottom: 25px;
  display: inline-block;
  background-color: rgb(255, 254, 252);
  border-radius: 15px;
  cursor: pointer;
}

.location h6 {
  font-weight: bold;
  margin-top: 0.4rem;
}

.location div :first-child {
  color: #9d9d9d;
}

.location div :last-child {
  color: #009f57;
  font-weight: 700;
}

.location svg {
  transform: scale(0.8);
  transform: translateY(-0.1em) scale(0.8);
}
