.location {
  padding: 5%;
}

.location a {
  text-decoration: none;
}

.location h4 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #009f57;
}

.location h6 {
  font-weight: 600;
  margin-top: 8px;
  font-size: 17px;
  line-height: 28px;
  color: #9d9d9d;
}
.location .details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 5%;
}

.location .reviews {
  list-style-type: none;
  padding-inline-start: 0;
  max-height: 50vh;
  overflow-y: auto;
}

.location .reviews li {
  background: #ffffff;
  border: 2px solid rgba(0, 159, 87, 0.5);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
}

.location .reviews h5 {
  font-size: 17px;
}
.reviews li p {
  color: #9d9d9d;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}
.location svg {
  transform: scale(0.9);
}
.location .user {
  display: flex;
}
/* .location .user img {
  width: 40px;
  height: 40px;
} */
.reviewContainer {
  gap: 0;
}
@media (max-width: 767px) {
  .location .reviews {
    max-height: fit-content;
  }
  .reviewContainer {
    gap: 1rem;
  }
}
.flex-container::after {
  content: "";
  flex: 1 1 23%;
  max-width: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
}
