.trip {
  padding: 5%;
}

.trip h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #009f57;
}
.trip input {
  margin-right: 5px;
  outline: 2px solid #009f57;
  outline-style: auto;
}
.trip select {
  width: 300px;
  height: 46px;
  padding: 8px 12px;
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
  outline: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

.trip ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.trip ul label {
  font-weight: 600;
}

@media (max-width: 1040px) {
  .trip ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 501px) {
  .trip ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
