.landing {
  margin-top: 60px;
  padding: 50px 10px;
}

.landing > div {
  background-image: url("../../assets/landing-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 60px;
}

.intro {
  font-weight: 700;
  font-size: 5em;
  overflow-wrap: break-word;
  line-height: 92px;
}

.intro + p {
  color: #9d9d9d;
  font-weight: 700;
  line-height: 32px;
  font-size: 20px;
}

.intro,
.intro + p {
  margin-bottom: 1.3rem;
}
.sapa {
  color: #e9a309;
}

.landing {
  transform: scale(0.9) translateY(-15%);
}
.socials {
  transform: translateX(-30px);
}
.btn {
  width: 240px;
  height: 72px;
  background-color: #009f57;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border: transparent;
  border-radius: 35px;
  box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
  -webkit-box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
  -moz-box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
}
.btn--alt {
  border: transparent;
  background-color: rgb(255, 254, 252);
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #2e2e2e;
  white-space: nowrap;
}

@media (max-width: 491px) {
  .btn,
  .btn--alt {
    transform: scale(0.9);
    white-space: nowrap;
    font-size: 20px;
  }
}
.btn--alt img {
  width: 56px;
  height: 56px;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #e9a309;
  text-align: center;
}

h2 {
  font-weight: 800;
  line-height: 56px;
  text-align: center;
}

.reviews div img {
  transform: scale(0.8);
}

.reviews .content h2 {
  font-size: 20px;
  line-height: 32px;
  color: #e9a309;
  text-align: start;
  white-space: nowrap;
}

.reviews .content h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
}

.reviews .content article {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  color: #9d9d9d;
}

.reviews .content .user div div:nth-child(2) p {
  margin: 0 auto;
}

.reviews .content .user div div:nth-child(2) :first-child {
  font-weight: 700;
  font-size: 120%;
  line-height: 40px;
  text-align: justify;
  color: #009f57;
}

.get-started {
  display: flex;
  justify-content: center;
  padding: auto 20px;
  margin-top: 8rem;
}

.get-started div {
  background-image: url("../../assets/get-started.png");
  width: 80%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

@media (max-width: 541px) {
  .intro {
    font-size: 55px;
  }
}
