.landing {
  margin-top: 70px;
  padding: auto 10px;
}

.intro {
  font-weight: 700;
  font-size: 5em;
  overflow-wrap: break-word;
  line-height: 92px;
}

.intro + p {
  color: #9d9d9d;
  font-weight: 700;
  line-height: 32px;
  font-size: 20px;
}

.intro,
.intro + p {
  margin-bottom: 3rem;
}
.sapa {
  color: #e9a309;
}

.landing {
  transform: scale(0.9) translateY(-15%);
}
.socials {
  transform: translateX(-30px);
}
.btn {
  width: 240px;
  height: 72px;
  background-color: #009f57;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border: transparent;
  border-radius: 35px;
  box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
  -webkit-box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
  -moz-box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
}
.btn--alt {
  border: transparent;
  background-color: rgb(255, 254, 252);
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #2e2e2e;
}

@media (max-width: 491px) {
  .btn,
  .btn--alt {
    transform: scale(0.9);
    white-space: nowrap;
    font-size: 20px;
  }
}
.btn--alt img {
  width: 56px;
  height: 56px;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #e9a309;
  text-align: center;
}

h2 {
  font-weight: 800;
  line-height: 56px;
  text-align: center;
}

.reviews div img {
  transform: scale(0.8);
}

.reviews .content h2 {
  font-size: 20px;
  line-height: 32px;
  color: #e9a309;
  text-align: start;
  white-space: nowrap;
}

.reviews .content h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
}

.reviews .content article {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  color: #9d9d9d;
}

.reviews .content .user div div:nth-child(2) p {
  margin: 0 auto;
}

.reviews .content .user div div:nth-child(2) :first-child {
  font-weight: 700;
  font-size: 120%;
  line-height: 40px;
  text-align: justify;
  color: #009f57;
}

.get-started {
  display: flex;
  justify-content: center;
  padding: auto 20px;
  margin-top: 8rem;
}

.get-started div {
  position: relative;
  width: 80%;
  height: fit-content;
}

.get-started div div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
}

.get-started div :first-child {
  width: 100%;
}

.get-started div :nth-child(2) {
  height: 135%;
  position: absolute;
  top: -34.7%;
  right: 30px;
}

.get-started div :last-child {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50%;
  z-index: 100;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.get-started div :last-child h2 {
  font-weight: 800;
  color: #ffffff;
  text-align: start;
  font-size: 30px;
}

.get-started div :last-child button {
  width: 220px;
  height: 69px;
  margin-top: 10%;
  position: relative;
  background: #e9a309;
  border-radius: 35px;
  border-color: transparent;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

.stars {
  transform: translateX(-10%);
}
@media (max-width: 874px) {
  .get-started div :last-child {
    top: 0;
    left: 0;
    transform: scale(0.8);
  }
}
@media (max-width: 807px) {
  .get-started div :last-child {
    transform: scale(0.7);
    top: -20%;
  }
  .get-started div :last-child h2 {
    font-size: 25px;
    font-weight: 600;
  }
}
@media (max-width: 806px) {
  .get-started {
    display: flex;
  }
  .get-started div {
    width: 95%;

    position: relative;
  }
  .get-started div :first-child {
    position: relative;
  }
  .get-started div :first-child h2 {
  }
  .get-started div :nth-child(2) {
    display: none;
  }
}
@media (max-width: 541px) {
  .intro {
    font-size: 55px;
  }
}
