.landing {
  margin-top: 60px;
  padding: 50px 10px;
}

.intro {
  font-weight: 700;
  font-size: 4rem;
  line-height: 72px;
}

.sapa {
  color: #e9a309;
  display: inline-block;
  text-wrap: nowrap;
}

.intro + p {
  color: #9d9d9d;
  font-weight: 700;
  line-height: 32px;
  font-size: 20px;
  width: 85%;
}

.intro,
.intro + p {
  margin-bottom: 2rem;
}

.landing {
  transform: scale(0.9) translateY(-15%);
}
.socials {
  transform: translateX(-30px);
}
.btn {
  width: 240px;
  height: 72px;
  background-color: #009f57;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border: transparent;
  border-radius: 35px;
  box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
  -webkit-box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
  -moz-box-shadow: -1px 0px 5px -1px rgba(0, 159, 87, 0.49);
}
.btn--alt {
  border: transparent;
  background-color: rgb(255, 254, 252);
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #2e2e2e;
}

@media (max-width: 491px) {
  .btn,
  .btn--alt {
    transform: scale(0.9);
    line-height: normal;
    font-size: 18px;
  }
}
.btn--alt img {
  width: 56px;
  height: 56px;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #e9a309;
  text-align: center;
}

.revBox {
  padding: 30px 36px;
}

.reviewSlide {
  margin-bottom: -220px;
  width: 100%;
}

.name {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #009F57;
  margin-bottom: 32px;
}

.review {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: #9D9D9D;
  margin-bottom: 16px;
}

.full {
  margin-top: -20px !important;
  transform: scaleX(0.75) scaleY(0.7) !important;
}

.explore {
  background-image: url(../../assets/explore-bg.png);
  background-position: center;
  width: 100vw;
  padding: 220px 5% 0;
  height: 520px;
  margin-bottom: 240px;
}

.wholecover {
  border: 4px solid #E9A309;
  border-radius: 24px;
  height: 420px;
  overflow: hidden;
}

.videoSection {
  width: 35%;
  flex: 0 0 auto;
}

@media (max-width: 1024px) {
  .videoSection {
    width: 40%;
  }
  
  .intro {
    font-size: 3.6rem;
  }
  
  .sapa {
    font-size: 3.6rem;
    text-wrap: wrap !important;
  }

  .name {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 28px;
  }

  .review {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .videoSection {
    width: 90%;
    margin: 20px auto;
  }
  
  .full {
    margin-top: -20px !important;
    transform: scaleX(0.8) scaleY(0.75) !important;
  }
  
  .reviewSlide {
    margin-bottom: -180px;
    width: 100%;
  }
  
  .revBox {
    padding: 28px;
  }
  
  .name {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 28px;
  }

  .review {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .explore {
    padding: 160px 5% 0;
    height: 390px;
    margin-bottom: 140px;
  }
}

@media (max-width: 560px) {
  .intro {
    font-size: 55px;
  }
  
  .name {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .review {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  
  .explore {
    height: 400px;
    margin-bottom: 180px;
  }
}