.header {
  position: relative;
  z-index: 500;
  background-color: rgb(255, 254, 252);
  /* border-bottom: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); */
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 5%;
  border: transparent;
  border-bottom: 1px solid transparent;
  z-index: 1100;
  position: relative;
}
.nav div {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 186px;
  height: 50px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links li {
  margin: auto 20px;
  list-style-type: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.links li a {
  text-decoration: none;
  color: black;
}

.header .nav .hamburger {
  display: block;
  width: 40px;
  height: 35px;
  display: grid;
  place-items: center;
  color: #e9a309;
  border: transparent;
  background-color: transparent;
  transform: translateY(10px);
}

@media (max-width: 1034px) {
  .nav div {
    display: none;
  }
  .logo {
    margin-bottom: 3em;
  }
}

@media (min-width: 1034px) {
  .header .nav .hamburger {
    display: none;
  }
}
