.header {
  position: relative;
  z-index: 5000;
  background-color: rgb(255, 254, 252);
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 5%;
  border: transparent;
  border-bottom: 1px solid transparent;
  z-index: 11000;
  position: relative;
}
.nav div {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 186px;
  height: 50px;
  transform: scale(0.8);
}
@media (max-width: 767px) {
  .logo {
    transform: translateX(-25px) scale(0.8);
  }
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links li {
  margin: auto 20px;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}

.header .nav .hamburger {
  display: block;
  width: 40px;
  height: 35px;
  display: grid;
  place-items: center;
  color: #e9a309;
  border: transparent;
  background-color: transparent;
  transform: translateY(10px);
}

@media (max-width: 1034px) {
  .nav {
    height: 100px;
  }
  .nav div {
    display: none;
  }
  .logo {
    margin-bottom: 3em;
  }
}

@media (min-width: 1034px) {
  .header .nav .hamburger {
    display: none;
  }
}
