.footer {
  background: #009f57;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: relative;
}

.bgPicture {
  position: absolute;
  width: 100%;
  height: 320px;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url("../../../assets/landing-bg.png");
  background-position: left 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer > div {
  z-index: 2;
}

.footer :last-child p {
  background: #e9a309;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
}

.footer a, footer li a {
  text-decoration: none;
  color: inherit;
}
.footer a:hover {
  text-decoration: underline;
  transition: 300ms ease-in-out;
}

.footer p,
.footer ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 0;
}
.footer input {
  width: 280px;
  height: 50px;
  outline: none;
  border: white;
  background: #ffffff;
  border-radius: 7px 0 0 7px;
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  padding-left: 20px;
}

.footer ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  padding: 0;
}
.footer form {
  display: flex;
  margin-top: 1em;
  padding: 0;
}
.footer img {
  width: 200px;
  height: 60px;
  transform: scale(0.8) translateX(-30px);
}
.footer h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  white-space: nowrap;
  margin-bottom: 10px;
}

.footer button {
  height: 50px;
  width: 80px;
  background: #e9a309;
  border-radius: 0px 7px 7px 0px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.socials svg {
  transform: scale(0.75);
}
@media (max-width: 848px) {
  .footer :first-child {
    flex-direction: column;
  }
}

@media (max-width: 558px) {
  .footer :last-child p {
    font-size: 15px;
  }
}

@media (max-width: 474px) {
  .footer input {
    width: 212px;
    height: 50px;
  }
  .footer button {
    width: 62px;
    height: 50px;
  }
}
