.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  margin: auto 15px;
  border: 2px solid #009f57;
  border-radius: 15px;
  background-color: #009f57;
  color: white;
  font-size: 20px;
  transform: scale(0.8);
}
.btn--alt {
  margin: auto 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 1px;
  border-radius: 15px;
  background-color: white;
  color: #009f57;
  border: 3px solid #009f57;
  font-size: 20px;
  transform: scale(0.8);
}
