.scroll {
  width: 40px;
  height: 40px;
  background: #009f57;
  border: 1px solid #009f57;
  border-radius: 50px;
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.scroll img {
  width: 10px;
}

.review {
  margin: auto 40px;
  margin-top: 20px;
}
