.signup {
  margin-top: 1rem;
  margin-bottom: 8%;
}
/* .signup .intro {
  background-image: url("../../assets/plain-logo.png");
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: center;
} */
.signup a {
  text-decoration: none;
}
.socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.socials svg {
  transform: scale(0.7);
}

.text p {
  color: #9d9d9d;
  font-size: 15px;
}

.text p span {
  color: #009f57;
  font-weight: bold;
  font-size: 17px;
}

/* stacking point */

@media (max-width: 767px) {
  .intro {
    transform: scale(0.9);
    margin-top: 3rem;
  }
}

.intro h3 {
  color: #009f57;
  font-weight: 700;
  font-size: 32px;
}

.intro h3 span {
  color: #e9a009;
}

.intro h3 + p {
  color: #9d9d9d;
  font-size: 28px;
  font-weight: 700;
  margin-top: 1.2rem;
}

.business {
  color: #9d9d9d;
  font-size: 20px;
  font-weight: 700;
  margin-top: 7rem;
}

.signup .input-error {
  border: 2px solid #f67f7f;
}

.user {
  margin-top: 7rem;
  font-weight: 700;
  color: #9d9d9d;
  font-size: 20px;
}

.user h5 {
  color: #009f57;
  font-weight: 600;
}

@media (max-width: 767px) {
  .signup > div {
    /* flex-direction: column-reverse !important; */
  }
}